.manager
.settings
bin
*.class
*.orig
*~
.metadata/
.scala_dependencies
jcpp.log*
macroDebug.txt
target/
src/test/test.iml
src/main/main.iml
lib_managed/
src_managed/
project/boot/
project/plugins/project/
debugsource.txt
tokenstream.txt
*.log
*.dbg
*.i
*.pi.ast
*.o
*.err
*.stats
*.time
*.dbg
*.diffs
*.macroDbg
*.dbgSrc
*.interface
*.dbginterface
*.id2i
.idea
sparse
systems
.history
.idea_modules
KiamaExp
TypeChef.iml
RemoteSystemsTempFiles
*.csv
typechef.sh
TypeChef-*.jar
casestudies
pages
ifdeftoif.sh
cRefactor.sh
ifdeftoif_progress.txt
renamings_Functions.txt
renamings_StructsAndVars.txt
